
.center-center {
    text-valign: center;
    text-halign: center;
}

.target-popper {
    display: none;
    max-width: 500px;
    padding: 1rem;
    text-align: left;
    font-family: "arial";
    border-radius: 0;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 2;
}
    
.target-popper.active {
    display: block;
}
    
.target-popper tr td:first-child {
    font-weight: bold;
    padding-right: 10px;
}